@page "/contribute"

<PageTitle>Contribute</PageTitle>

<h3 class="text-center">Contribution Page</h3>

<ToolItem Description="If you find the tool useful, please consider contributing a small amount to help with the hosting costs.  Due to the application being sent to your browser the data usage is unusually high for a webpage."></ToolItem>


<iframe id='kofiframe' src='https://ko-fi.com/sjkpdftools/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#292C33;' height='712' title='sjkpdftools'></iframe>