<div class="collapsable">
    <div class="title" @onclick="@Toggle">
        @if (Collapsed)
        {
            <span class="oi oi-plus mr-1"></span>
        }
        else
        {
            <span class="oi oi-minus mr-1"></span>
        }
        <text>&nbsp; &nbsp;&nbsp;</text>@Title
    </div>
</div>
@if (!Collapsed)
{
    <div class="collapsable-panel">
        @ChildContent
    </div>
}


@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Collapsed { get; set; }
    [Parameter] public string Title { get; set; }
 
    void Toggle()
    {
        Collapsed = !Collapsed;
    }
}