@inherits LayoutComponentBase

<div class="page" style="background-image: none; background-color: #292C33">
    <div class="sidebar" style="background-image: none; background-color: #292C33">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-color: #292C33">
            <a href="" target="_blank">About</a>
        </div>

        <article class="content px-4" style="background-color: #292C33">
            @Body
        </article>
    </main>
</div>
